.btn-blue {
  background-color: rgb(0, 119, 204);
  line-height: 32px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 10px rgb(10, 50, 86);
}

.btn-blue:hover {
  opacity: 0.9;
  color: #fff;
}