<div class="container-message">
  <p>Only a few days ago I finished the Le Wagon coding bootcamp and haven't had the time to put everything together on this page. </p>
  <p>Check again soon to see the cool projects I have been doing</p>
  <p>Thank you and see you soon</p>
  <%= link_to 'Linkedin', 'https://www.linkedin.com/in/ardaozcan' %>
  <%= link_to 'Github', 'https://github.com/rdzcn' %>
</div>